.format {
    width: 310px;
    height: 465px;
}

.divh {
    margin: 10px;
    display: inline-block;
}
.divinput{
  margin-left: 36%;
    position: fixed;
    /*bottom: 0px;*/
    /*right: 0px;*/
}
.divsize {
    text-align: center;
    display: inline-block;
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}
.article_tags{
    word-break:break-all;
}