<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.UserMapper">


    <!--    &lt;!&ndash; 通用查询映射结果 &ndash;&gt;-->
    <!--    <resultMap id="BaseResultMap" type="com.yixin.pojo.User">-->
    <!--        <id column="id" property="id" />-->
    <!--        <result column="username" property="username" />-->
    <!--        <result column="password" property="password" />-->
    <!--        <result column="state" property="state" />-->
    <!--        <result column="email" property="email" />-->
    <!--        <result column="phone" property="phone" />-->
    <!--    </resultMap>-->


    <select id="selectUser" resultType="com.it.dao.User">
        select *
        from user;
    </select>



    <select id="selectName" resultType="com.it.dao.User">
            select * from user where username=#{username}

    </select>



    <insert id="add">
        insert into user values (#{username},#{password});
    </insert>

</mapper>
